*
{
	background-color: #A429CE;
	color: #57A90E;
}	
h1
{
	background-color: #020005;
	text-align:center;
}
p
{
	color:#940B0B; 
	font-family:calibri;
	font-size:25px;
	
}
img
{
    height:200px;
	width:200px;
	
}